NEXT_PUBLIC_APP_URL="https://studyswipe.vercel.app"
NEXT_PUBLIC_AUTH_URL="http://auth.bengaudry.dev/?serviceId=studyswipe-local"

NEXT_PUBLIC_OPENAI_API_KEY=""
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_GOOGLE_AI_API_KEY=""

DATABASE_URL="postgresql://xxx"
DIRECT_URL="postgresql://xxx"

AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

AUTH_GOOGLE_ID=""

# session secret should be a random string of at least 32 characters generated using a secure random generator.
# You can use a tool like openssl to generate a random string:
SESSION_SECRET=""
