@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-neutral-900 bg-white dark:text-neutral-100 dark:bg-neutral-950;
  min-height: 100vh;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.animate-next-card {
  animation: NextCard 200ms ease-out 0 1 forwards;
  will-change: transform, opacity;
}

@keyframes NextCard {
  0% {
    transform: rotate(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: rotate(-45deg) translateX(-100%);
    opacity: 0;
  }
  51% {
    transform: rotate(0) translateX(0) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateX(0) scale(1);
    opacity: 1;
  }
}
